<br />

<script>
  $(function() {
    var draggable_list = function(css_selector, data_key) {
      $(css_selector).sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          // Added this bit of code from stack overflow
          //https://stackoverflow.com/questions/7203304/warning-cant-verify-csrf-token-authenticity-rails
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { [data_key]: { row_order_position: ui.item.index() } }
        });
      }
    });
    }

    draggable_list('.lessons', 'lesson');
    draggable_list('.sections', 'section');
  });
</script>
<div class="booyah-box col-10 offset-1">
  <h1><%= current_course.title %></h1>
  <% if current_course.image.url %>
    <%= image_tag current_course.image.url, class: 'img-fluid' %>
  <% end %>
  <%= link_to 'Preview Course as a Student', course_path(current_course), class: 'btn btn-warning float-right' %>
  <br class="clr" />
  <br />

  <div class="text-center">
    <button type="button" class="btn btn-primary btn-lrg" data-toggle="modal" data-target="#createSection">
      Add a Section
    </button>
  </div>

  <br />

  <!-- start New section modals --->
  <div class="modal fade" id="createSection" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a Section</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for @section, url: instructor_course_sections_path(current_course) do |f| %>
          <%= f.input :title %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit 'Add a Section', class: 'btn btn-primary' %>
          </div>
        <% end %> 
      </div>
    </div>
  </div>

  <!--- end modal --->

  <ul class="sections">
    <% current_course.sections.rank(:row_order).each do |section| %>
      <li data-update-url="<%= instructor_section_path(section) %>" class="section-li">
        <div class="header">
          <span class="fa fa-ellipsis-v"></span>
          <%= section.title %>
        </div>
        <%= link_to 'New Lesson', new_instructor_section_lesson_path(section), class: 'float-right btn btn-primary btn-sm' %>
        <br class="clr" />
        <br class="clr" />
        <ul class="lessons">
          <% section.lessons.rank(:row_order).each do |lesson| %>
            <li data-update-url="<%= instructor_lesson_path(lesson) %>">
              <div class="row">
                <div class="col-1">
                  <span class="fa fa-ellipsis-v"></span>
                </div>
                <div class="col-11 text-center">
                  <p>
                    <b><%= lesson.title %></b>
                  </p>
                  <p>
                    <%= lesson.subtitle %>
                  </p>
                </div>
                <br class="clr" />
              </div>
            </li>
          <% end %>
        </ul>
        <br class="clr" />
      </li>
    <% end %>
  </ul>
</div>