<div class="booyah-box col-10 offset-1">
  <% if current_user.enrolled_courses.length > 0 %> 
    <h1>What I'm learning</h1>
    <% current_user.enrolled_courses.each do |course| %>
      <%= link_to course.title, course_path(course) %> 
      <% if course.image.url %>
        <br />
        <%= image_tag course.image.url, class: 'img-fluid' %>
        <br />
        <br />
      <% end %>
      <div class="row">
        <div class="col-12 col-sm-8">
          <%= course.description %>
        </div>
        <div class="col-12 col-sm-4 text-center">
          <%= link_to 'More Info', course_path(course), class: 'btn btn-large btn-primary' %>
        </div>
      </div>
      <hr class="col-8 offset-2" />
      <br />
    <% end %>
  <% else %>
    <h1>You are not taking any courses!</h1>
    <p class="text-center">Browse the <%= link_to 'courses!', courses_path %></p>
    <br />
    <hr class="col-8 offset-2" />
    <br />
  <% end %>

  <% if current_user.courses.length > 1 %>
    <h1>What I'm teaching</h1>
    <% current_user.courses.each do |course| %>
      <hr />
      <%= link_to course.title, course_path(course) %> 
      <% if course.image.url %>
        <br />
        <%= image_tag course.image.url, class: 'img-fluid' %>
        <br />
        <br />
      <% end %>
      <div class="row">
        <div class="col-12 col-sm-8">
          <%= course.description %>
        </div>
        <div class="col-12 col-sm-4 text-center">
          <%= link_to 'More Info', course_path(course), class: 'btn btn-large btn-primary' %>
        </div>
      </div>
      <hr class="col-8 offset-2" />
      <br />
    <% end %>
  </div>
<% else %>
  <h1>You are not teaching any courses!</h1>
  <p class="text-center">Teach a <%= link_to 'course!', new_instructor_course_path %></p>
<% end %>