<!DOCTYPE html>
<html>
  <head>
    <title>Flixter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div id="flex-content-container">
    <!-- Navbar start --->

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to 'CHANGE ME', root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <% if user_signed_in? %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Create an account', new_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
            </li>
          <% end %>
          <li class="nav-item">
            <a class="nav-link" href="#">Courses</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Navbar end --->

    <!-- Alerts and Notices! --->
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <!-- end alerts and notices --->



    <%= yield %>
    </div>


    <div id="footer">
      <div class="container">
        <b>Footer</b>
        <br />
        <%= link_to 'Link', '#' %>
      </div>
    </div>

  </body>
</html>
